<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" autoReload="true">
  <targets async="true">
    <target name="trace-log"
            xsi:type="File"
            fileName="${basedir}\trace.log"
            layout="${longdate} ${level} ${logger} ${message}"
            concurrentWrites="false"
            keepFileOpen="false"
      />
    <target name="console"
            xsi:type="Console"
            layout="${level:uppercase=true}: ${message} | ${exception:format=tostring}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="trace-log, console" />
  </rules>
</nlog>